
<div class="container-fluid footer-wrapper">
  <div class="row footer">
    <div class="col-sm-offset-1 col-sm-5 col-xs-7">
      <div class="copyrights">
        Copyright PVBid.com.
        <div class="clearfix visible-xs"></div>
        All rights reserved.
      </div>
      <div class="clearfix"></div>
      <div class="footer-navigation">
        <a href="#">Legal</a>
        <a href="#">Privacy</a>
        <a href="#">About PVBid</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="col-sm-5 col-xs-5">
      <div class="social-media">
        <a href="#" class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
        <a herf="#" class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
        <a herf="#" class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google fa-stack-1x fa-inverse"></i>
        </a>
        <a herf="#" class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
      </div>
    </div>
  </div>
</div>