
<nav class="responsive-nav navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">

    <img src="/img/logo.png">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-list menu-icon"></i>
    </button>

  </div>
  <div class="collapse navbar-collapse col-md-offset-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href=""><span>FEATURES</span></a></li>
      <li><a href=""><span>GALLERY</span></a></li>
      <li><a href=""><span>DOWNLOAD</span></a></li>
      <li><a href=""><span>CONTACT US</span></a></li>
      <li><a href=""><span>BACK TO SolarAges</span></a></li>
    </ul>
  </div>
</nav>
